<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.playce.roro.mybatis.domain.preconfig.PreConfigUserMapper">
    <select id="getPreConfigUsers" resultType="io.playce.roro.common.dto.preconfig.PreConfigUserResponse">
        SELECT mpcu.uid
               , mpcu.user_name
               , mpcu.user_password
               , mpcu.groups
               , mpcu.home_dir
               , mpcu.profile
               , mpcu.crontab
          FROM migration_pre_config_user mpcu
         WHERE mpcu.migration_pre_config_id = #{preConfigId}
    </select>
</mapper>