<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.playce.roro.mybatis.domain.common.credential.CredentialMapper">

    <select id="getCredentials" resultType="io.playce.roro.common.dto.targetcloud.CredentialDto$CredentialResponse">
        select cm.credential_id,
               cm.credential_name,
               cm.project_id,
               cm.credential_type_code,
               cm.access_key,
               cm.secret_key,
               cm.user_name,
               cm.user_password,
               cm.key_file_name,
               cm.key_file_path,
               cm.key_file_content,
               cm.regist_datetime,
               cm.regist_user_id,
               re.user_login_id as regist_user_login_id,
               cm.modify_datetime,
               cm.modify_user_id,
               mo.user_login_id as modify_user_login_id
        from
             credential_master cm inner join user_access re
              ON cm.regist_user_id = re.user_id inner join user_access mo
              ON cm.modify_user_id = mo.user_id
        where
            cm.project_id = #{projectId}
            and cm.credential_type_code = #{credentialTypeCode}
            and cm.delete_yn = 'N'
    </select>

    <select id="getCredential" resultType="io.playce.roro.common.dto.targetcloud.CredentialDto$CredentialResponse">
        select cm.credential_id,
               cm.credential_name,
               cm.project_id,
               cm.credential_type_code,
               cm.access_key,
               cm.secret_key,
               cm.user_name,
               cm.user_password,
               cm.key_file_name,
               cm.key_file_path,
               cm.key_file_content,
               cm.regist_datetime,
               cm.regist_user_id,
               re.user_login_id as regist_user_login_id,
               cm.modify_datetime,
               cm.modify_user_id,
               mo.user_login_id as modify_user_login_id
        from
             credential_master cm inner join user_access re
          ON cm.regist_user_id = re.user_id inner join user_access mo
          ON cm.modify_user_id = mo.user_id
        where
            cm.project_id = #{projectId}
            and cm.credential_id = #{credentialId}
            and cm.delete_yn = 'N'
    </select>

</mapper>