<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.playce.roro.mybatis.domain.inventory.manager.ManagerMapper">

    <select id="getServiceManagers" resultType="io.playce.roro.common.dto.inventory.manager.Manager">
        SELECT user_id
               , manager_type_code
          FROM service_manager
         WHERE service_id = #{serviceId}
    </select>

    <select id="getInventoryManagers" resultType="io.playce.roro.common.dto.inventory.manager.Manager">
        SELECT user_id
               , manager_type_code
          FROM inventory_manager
         WHERE inventory_id = #{inventoryId}
    </select>

    <select id="selectInventoryManager" parameterType="Long" resultType="io.playce.roro.common.dto.inventory.manager.InventoryManager">
        select im.user_id,
               im.manager_type_code,
               cm.company_name_korean,
               cm.company_name_english,
               um.user_name_korean,
               um.user_name_english,
               um.user_mobile,
               um.user_phone
        from
            inventory_manager im
                right join user_master um
                           on im.user_id = um.user_id
                inner join company_master cm
                           on um.user_company_code = cm.company_code
        where
            im.inventory_id = #{inventoryId}
    </select>

    <select id="selectInventoryManagerByUserId" parameterType="Long" resultType="io.playce.roro.common.dto.inventory.manager.InventoryManager">
        select um.user_id,
               um.user_company_code,
               um.user_name_korean,
               um.user_name_english,
               um.user_email,
               um.user_phone,
               um.user_mobile,
               um.user_fax,
               um.user_job_grade,
               um.user_department,
               um.user_remarks,
               um.regist_user_id,
               um.regist_datetime,
               um.modify_user_id,
               um.modify_datetime
        from
            user_master um
        where
            um.user_id = #{userId}
    </select>

</mapper>